.container11 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 236, 236);
    font-family: Sans-serif;
}

.navigationbar {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(120deg, #cc99cc, #b0d8f2);
    font-family: 'Gill Sans';
    color: white;
    justify-content: space-between;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;

}



nav {
    width: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
#navbar {overflow: hidden;}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a:hover {
    color: white;
}

#navbar a.active {
    background-color: #afafaf;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 10px;
}